.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
   
}

h2 {
    margin-bottom: 20px;
    font-weight: 400; /* not bold */
    font-family: 'Roboto', sans-serif;
}

.name-fields,
.email-fields,
.password-fields,
.country-fields {
    display: flex;
    gap: 10px;
    width: 100%;
}

.name-fields input,
.email-fields input,
.password-fields input,
.country-fields select {
    flex: 1;
    width: 60%; /* Set width to 60% for these fields */
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #cccccc;
    border-radius: 40px; /* Added border-radius to make it same as other fields */
    box-sizing: border-box;
}

.radio-selection {
    display: flex;
    justify-content: center; /* Centers the role selection */
    margin: 10px 0;
    width: 100%;
}

.role-selection {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the text and radio buttons */
    justify-content: center;
    margin: 10px 0;
    width: 100%;
}

.role-selection label {
    margin-top: 4px;
}

.signup-button {
    background-color: #28a745;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    width: 30%;
}

.signup-button:hover {
    background-color:#218838;
}

p {
    margin-top: 15px;
}


.success-message {
    background-color: #28a745;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
}

.error-message {
    background-color: #dc3545;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
}
